<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attire Home</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <!-- custom css -->
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
</head>
<body>

    <!-- navbar -->
    <nav class = "navbar navbar-expand-lg navbar-light bg-white py-1">
<!--        <p class = "d-flex justify-content-between align-items-center order-lg-0">-->
<!--                <span class = " fw-lighter ms-2">{{ user.username }}</span>-->
<!--            </p>-->
        <div class = "container">
            <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "{% url 'index' %}">
                <span class = "text-uppercase fw-lighter ms-2">Docshop</span>
            </a>

            <div class = "order-lg-2 nav-btns">
                <button type = "button" class = "btn position-relative">
                    <a href="{% url 'cart' %}">
                    <i class = "fa fa-shopping-cart"></i>
                    {% if user.cart %}
                        <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">{{ user.cart.orders.count }}</span>
                    {% endif %}
                    </a>
                </button>
<!--                <button type = "button" class = "btn position-relative">-->
<!--                    <i class = "fa fa-heart"></i>-->
<!--                    <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">2</span>-->
<!--                </button>-->
<!--                <button type = "button" class = "btn position-relative">-->
<!--                    <i class = "fa fa-search"></i>-->
<!--                </button>-->
            </div>


            <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#header">home</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#collection">collection</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#special">specials</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#blogs">blogs</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
                    </li>
                    <li class = "nav-item px-2 py-2 border-0">
                        <a class = "nav-link text-uppercase text-dark" href = "#popular">popular</a>
                    </li>
                    <li>
                        <div class="nav-item px-2 py-2">
                        {% if user.is_registered %}
                            <a href=" {% url 'logout' %}" class="btn btn-warning">Se déconnecter</a>
                        {% else %}
<!--                            <a href=" {% url 'login' %}" class="btn btn-warning">Connexion</a>-->
                            <a href=" {% url 'signup' %}" class="btn btn-warning">S'inscrire</a>
                        {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->



<script type="text/javascript">
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function uuidv4() {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          );
        }
    let device = getCookie('device')
    console.log(device)
    if (device == null || device == undefined) {

        device = uuidv4()
       }
   document.cookie = 'device=' + device + ";domain=;path=/"
</script>

{% block content %}
{% endblock %}
<!-- jquery -->
<script src = "{% static 'js/jquery-3.6.0.js' %}"></script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<!-- bootstrap js -->
<script src = "{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<!-- custom js -->
<script src = "{% static 'js/script.js' %}"></script>
</body>
</html>